services:
  qbittorrent-vue:
    container_name: qBittorrent-VUE
    image: ghcr.io/linuxserver/qbittorrent:latest@sha256:065792d2b11f0facff340210fc1cf13623b029a94ecdf08b02d06d922205f618
    env_file:
      - /volume2/FastSSD/docker/qbittorrent/.env
    healthcheck:
      test: curl -f http://localhost:9866/ || exit 1
    mem_limit: 6g
    cpu_shares: 768
    security_opt:
      - no-new-privileges:true
    network_mode: host
    tty: true
    volumes:
      - /volume2/FastSSD/docker/qbittorrent/config:/config:rw
      - /volume1/SlowHDD/downloads:/downloads:rw
    environment:
      WEBUI_PORT: 9866
      PUID: 1000
      PGID: 10
      TZ: Europe/Dublin
      DOCKER_MODS: ghcr.io/vuetorrent/vuetorrent-lsio-mod:latest
    restart: on-failure:5

  qbittorrent-mam:
    container_name: qBittorrent-MAM
    image: ghcr.io/linuxserver/qbittorrent:latest
    network_mode: host
    environment:
      - WEBUI_PORT=9867
      - TORRENTING_PORT=57743 # Unique port for MAM traffic
      - PUID=1000
      - PGID=10
      - TZ=Europe/Dublin
    volumes:
      - /volume2/FastSSD/docker/qbittorrent-mam/config:/config:rw
      - /volume1/SlowHDD/downloads/books:/downloads:rw
    restart: on-failure:5
