services:
  plex:
    image: ghcr.io/linuxserver/plex:latest@sha256:7cc7874ad35b105fe1fe4d99ef27be9c5eb2f4115ccf91af5a7283cae0024599
    container_name: Plex
    hostname: plex
    network_mode: host
    security_opt:
      - no-new-privileges:true
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:32400/web || exit 1
      interval: 1m
      timeout: 3s
      retries: 3
    volumes:
      - /volume2/FastSSD/docker/plexhw:/config:rw
      # NOTE: Mapping the root of SlowHDD to /movies means 
      # inside Plex you will see subfolders like /movies/tvseries, /movies/music, etc.
      - /volume1/SlowHDD:/movies:ro
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
      - /dev/dri/card0:/dev/dri/card0
    environment:
      - TZ=Europe/Dublin
      - PUID=${PUID}
      - PGID=${PGID}
      - VERSION=public
      - PLEX_CLAIM=${PLEX_CLAIM}
    restart: on-failure:5
