services:
  plex:
    image: ghcr.io/linuxserver/plex:latest
    container_name: Plex
    hostname: plex
    network_mode: host
    security_opt:
      - no-new-privileges:true
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:32400/web
    volumes:
      - /volume2/FastSSD/docker/plexhw:/config:rw
      - /volume1/SlowHDD:/movies:ro
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
      - /dev/dri/card0:/dev/dri/card0
    environment:
      TZ: Europe/Dublin
      PUID: 1000
      PGID: 10
      VERSION: public
      PLEX_CLAIM: claim-tsJQyoFmWxHYxvmFzM6z # STEP 4
    restart: on-failure:5