services:
  your_spotify_server:
    image: lscr.io/linuxserver/your_spotify:latest
    container_name: yourspotify
    environment:
      - PUID=1000 # Update to your NAS user ID
      - PGID=1000 # Update to your NAS group ID
      - TZ=Europe/London
      - APP_URL=http://192.168.68.102:3000 # Your NAS IP
      - SPOTIFY_PUBLIC=${SPOTIFY_CLIENT_ID}
      - SPOTIFY_SECRET=${SPOTIFY_CLIENT_SECRET}
      - MONGO_ENDPOINT=mongodb://mongo:27017/your_spotify
    env_file:
      - .env
    depends_on:
      - mongo
    ports:
      - 3000:80
    restart: unless-stopped
    volumes:
      - /volume2/FastSSD/docker/yourspotify/config:/config

  mongo:
    image: mongo:6.0
    container_name: your_spotify_db
    restart: unless-stopped
    volumes:
      - /volume2/FastSSD/docker/yourspotify/db:/data/db