services:
  radarr:
    image: lscr.io/linuxserver/radarr:6.0.4@sha256:ba2693dd704b84eb0b404d40b3902bd3e62a1768dc5ee0d89b1f1d7cd51a66eb
    env_file:
      - /volume2/FastSSD/docker/radarr/.env
    container_name: Radarr
    network_mode: host
    security_opt:
        - no-new-privileges:true
    healthcheck:
       test: curl -f http://localhost:7878/ || exit 1
    environment:
      - PUID=1000
      - PGID=10
      - TZ=Europe/Dublin
    volumes:
      - /volume1/SlowHDD/movies:/movies:rw #If you want, you can change the following line /volume1/docker/radarr/movies with the path Location of your own Movie library.
      - /volume1/SlowHDD/downloads/downloads:/downloads:rw #If you want, you can change the following line /volume1/docker/radarr/downloads with the path Location of your Download folder.
      - /volume2/FastSSD/docker/radarr/config:/config:rw 
    ports:
      - 7878:7878
    restart: always
    
  recyclarr:
    image: ghcr.io/recyclarr/recyclarr:7.5.2@sha256:2550848d43a453f2c6adf3582f2198ac719f76670691d76de0819053103ef2fb
    container_name: recyclarr
    user: 1000:1000
    volumes:
      - /volume2/FastSSD/docker/recyclarr/config:/config
    env_file:
      - /volume2/FastSSD/docker/recyclarr/.env
    restart: unless-stopped
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:2.3.0@sha256:d3e9307b320b6772749a2cf8fc2712e9e824c4930b034680ad4d08a9e2f25884
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    volumes:
      - /volume2/FastSSD/docker/prowlarr/config:/config
    ports:
      - 9696:9696
    restart: unless-stopped
  flaresolverr:
    image: flaresolverr/flaresolverr:v3.4.6@sha256:7962759d99d7e125e108e0f5e7f3cdbcd36161776d058d1d9b7153b92ef1af9e
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=info
      - TZ=Europe/London
    ports:
      - "8191:8191"
    restart: unless-stopped
# Existing Overseerr (Keep this as is)
  overseerr:
    image: sctx/overseerr:1.34.0@sha256:4f38f58d68555004d3f487a4c5cbe2823e6a0942d946a25a2d9391d8492240a4
    container_name: overseerr
    environment:
      - TZ=Europe/London
    volumes:
      - /volume2/FastSSD/docker/overseerr/config:/app/config
    ports:
      - 5055:5055
    restart: unless-stopped

  # New Jellyseerr (Running alongside)
  jellyseerr:
    image: fallenbagel/jellyseerr:2.7.3@sha256:4538137bc5af902dece165f2bf73776d9cf4eafb6dd714670724af8f3eb77764
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=info
      - TZ=Europe/London
    volumes:
      - /volume2/FastSSD/docker/jellyseerr/config:/app/config
    ports:
      - 5056:5055  # <--- EXTERNAL port 5056 maps to INTERNAL 5055
    restart: unless-stopped
