version: "3"

########################### NETWORKS
networks:
  macvlan_net:
    driver: macvlan
    driver_opts:
      parent: eth0 # Make sure this matches your NAS!
    ipam:
      config:
        - subnet: 192.168.68.0/22
          gateway: 192.168.68.1

########################### SERVICES
services:
  pihole:
    image: pihole/pihole@sha256:91dc91ddd413bf461c283204558f8f21839851e9824799075a7ceff7c77eea40
    env_file:
      - .env
    container_name: Pi-Hole
    networks:
      macvlan_net:
        # FIXED: Hardcoded IP to bypass Portainer validation error
        ipv4_address: 192.168.68.150
    security_opt:
      - no-new-privileges:false
    restart: on-failure:5
    volumes:
      - /volume1/docker/pihole/dnsmasq.d:/etc/dnsmasq.d:rw
      - /volume1/docker/pihole/pihole:/etc/pihole:rw
    environment:
      - TZ=Europe/Dublin
      - FTLCONF_webserver_api_password=${WEBPASSWORD}
      - FTLCONF_webserver_port=8080
      - FTLCONF_dns_listeningMode=all
      - DNSMASQ_USER=pihole
      - PIHOLE_UID=1000
      - PIHOLE_GID=10
    cap_add:
      - SYS_TIME
      - SYS_NICE
