version: "3"

########################### NETWORKS
networks:
  macvlan_net:
    driver: macvlan
    driver_opts:
      parent: eth0 # Ensure this is correct! (Run 'ifconfig' on NAS if unsure)
    ipam:
      config:
        - subnet: 192.168.68.0/24
          gateway: 192.168.68.1

########################### SERVICES
services:
  pihole:
    image: pihole/pihole
    container_name: Pi-Hole
    networks:
      macvlan_net:
        ipv4_address: ${PIHOLE_IP}
    security_opt:
      - no-new-privileges:false
    restart: on-failure:5
    volumes:
      - /volume1/docker/pihole/dnsmasq.d:/etc/dnsmasq.d:rw
      - /volume1/docker/pihole/pihole:/etc/pihole:rw
    environment:
      - TZ=Europe/Dublin
      - FTLCONF_webserver_api_password=${WEBPASSWORD}
      - FTLCONF_webserver_port=8080
      - FTLCONF_dns_listeningMode=all
      - DNSMASQ_USER=pihole
      - PIHOLE_UID=1000
      - PIHOLE_GID=10
    cap_add:
      - SYS_TIME
      - SYS_NICE
