services:
  radarr:
    image: lscr.io/linuxserver/radarr:latest@sha256:6c0948b42c149e36bb3dbc0b64d36c77b2d3c9dccf1b424c4f72af1e57ba0c21
    env_file:
      - /volume2/FastSSD/docker/radarr/.env
    container_name: Radarr
    network_mode: host
    security_opt:
        - no-new-privileges:true
    healthcheck:
       test: curl -f http://localhost:7878/ || exit 1
    environment:
      - PUID=1000
      - PGID=10
      - TZ=Europe/Dublin
    volumes:
      - /volume1/SlowHDD/movies:/movies:rw #If you want, you can change the following line /volume1/docker/radarr/movies with the path Location of your own Movie library.
      - /volume1/SlowHDD/downloads/downloads:/downloads:rw #If you want, you can change the following line /volume1/docker/radarr/downloads with the path Location of your Download folder.
      - /volume2/FastSSD/docker/radarr/config:/config:rw 
    ports:
      - 7878:7878
    restart: always
    
  recyclarr:
    image: ghcr.io/recyclarr/recyclarr:latest
    container_name: recyclarr
    user: 1000:1000
    volumes:
      - /volume2/FastSSD/docker/recyclarr/config:/config
    env_file:
      - /volume2/FastSSD/docker/recyclarr/.env
    restart: unless-stopped
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    volumes:
      - /volume2/FastSSD/docker/prowlarr/config:/config
    ports:
      - 9696:9696
    restart: unless-stopped
  flaresolverr:
    image: flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=info
      - TZ=Europe/London
    ports:
      - "8191:8191"
    restart: unless-stopped
# Existing Overseerr (Keep this as is)
  overseerr:
    image: sctx/overseerr:latest
    container_name: overseerr
    environment:
      - TZ=Europe/London
    volumes:
      - /volume2/FastSSD/docker/overseerr/config:/app/config
    ports:
      - 5055:5055
    restart: unless-stopped

  # New Jellyseerr (Running alongside)
  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=info
      - TZ=Europe/London
    volumes:
      - /volume2/FastSSD/docker/jellyseerr/config:/app/config
    ports:
      - 5056:5055  # <--- EXTERNAL port 5056 maps to INTERNAL 5055
    restart: unless-stopped
  watchstate:
    image: arabcoders/watchstate:latest
    container_name: watchstate
    restart: unless-stopped
    environment:
      - TZ=Europe/London
      - WS_UID=1000
      - WS_GID=1000
    volumes:
      - /volume2/FastSSD/docker/watchstate/config:/config
    ports:
      - 8082:8080 # Maps internal 8080 to external 8082
