services:
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: Radarr
    network_mode: host
    security_opt:
        - no-new-privileges:true
    healthcheck:
       test: curl -f http://localhost:7878/ || exit 1
    environment:
      - PUID=1000
      - PGID=10
      - TZ=Europe/Dublin
    volumes:
      - ./config/radarr:/config
      - /volume1/SlowHDD/movies:/movies:rw #If you want, you can change the following line /volume1/docker/radarr/movies with the path Location of your own Movie library.
      - /volume2/FastSSD/docker/radarr/downloads:/downloads:rw #If you want, you can change the following line /volume1/docker/radarr/downloads with the path Location of your Download folder.
      - /volume2/FastSSD/docker/radarr/config:/config:rw 
    ports:
      - 7878:7878
    restart: always
  