services:
  open-archiver:
    image: logiclabshq/open-archiver:latest@sha256:47801cbe6c432b455c75c1bbfe6da5f0ad465cd97c060d99efbcae8b46285d50
    env_file:
      - /volume2/FastSSD/docker/openarchiver/.env
    container_name: OpenArchiver-WEB
    healthcheck:
      test: ["CMD-SHELL", "nc -z 127.0.0.1 3000 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 90s
    environment:
      - NODE_ENV=production
      - STORAGE_TYPE=local
      - REDIS_HOST=valkey
      - REDIS_PORT=6379
      - MEILI_HOST=http://meilisearch:7700
      - TIKA_URL=http://tika:9998
      - STORAGE_LOCAL_ROOT_PATH=/var/data/open-archiver
      - PORT_BACKEND=4000
      - PORT_FRONTEND=3000
      - SYNC_FREQUENCY=0 0 */2 * * *
    ports:
       - 3212:3000
    volumes:
       - /volume1/SlowHDD/emails/openarchiver:/var/data/open-archiver:rw
    depends_on:
       - db
       - valkey
       - meilisearch
    restart: on-failure:5

  db:
    image: postgres:17-alpine@sha256:bb377b7239d2774ac8cc76f481596ce96c5a6b5e9d141f6d0a0ee371a6e7c0f2
    env_file:
      - /volume2/FastSSD/docker/openarchiver/.env
    container_name: OpenArchiver-DB
    hostname: openarchiver-db
    security_opt:
      - no-new-privileges:true
    healthcheck:
      test: ["CMD", "pg_isready", "-q", "-d", "openarchiver", "-U", "openuser"]
      timeout: 45s
      interval: 10s
      retries: 10
    volumes:
       - /volume2/FastSSD/docker/openarchiver/db:/var/lib/postgresql/data
    restart: on-failure:5

  valkey:
    image: valkey/valkey:9-alpine@sha256:ad4541b28b017bf4cd83ee057c51aafb21ea32e898e3f3b8b75e268650f2ac20
    env_file:
      - /volume2/FastSSD/docker/openarchiver/.env
    container_name: OpenArchiver-REDIS
    healthcheck:
     test: ["CMD-SHELL", "redis-cli ping || exit 1"]
    command: sh -c "valkey-server --requirepass \"$REDIS_PASS\""
    volumes:
      - /volume2/FastSSD/docker/openarchiver/redis:/data
    restart: on-failure:5

  meilisearch:
    image: getmeili/meilisearch:v1.35.0@sha256:348ba1c1f61101130304370a9522cc5405e6906b64a426dc2fcd5c428a516a98
    env_file:
      - /volume2/FastSSD/docker/openarchiver/.env
    container_name: OpenArchiver-MEILI
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:7700"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - /volume2/FastSSD/docker/openarchiver/meili:/meili_data
    restart: on-failure:5

  tika:
      image: apache/tika:3.2.3.0-full@sha256:21d8052de04e491ccf66e8680ade4da6f3d453a56d59f740b4167e54167219b7
      env_file:
        - /volume2/FastSSD/docker/openarchiver/.env
      container_name: Open-Archiver-TIKA
      restart: on-failure:5
