version: '3.8'

services:
  db:
    image: postgres:17
    container_name: RomM-DB
    hostname: romm-db
    security_opt:
      - no-new-privileges:true
    healthcheck:
      test: ["CMD", "pg_isready", "-q", "-d", "${DB_NAME}", "-U", "${DB_USER}"]
      timeout: 45s
      interval: 10s
      retries: 10
    volumes:
      - /volume1/docker/romm/db:/var/lib/postgresql/data:rw
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
    restart: on-failure:5

  romm:
    image: rommapp/romm:latest
    container_name: RomM
    healthcheck:
      test: timeout 10s bash -c ':> /dev/tcp/127.0.0.1/8080' || exit 1
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 90s
    environment:
      - ROMM_DB_DRIVER=postgresql
      - DB_HOST=romm-db
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWD=${DB_PASS}
      - DB_PORT=5432
      # Secrets & Keys
      - ROMM_AUTH_SECRET_KEY=${AUTH_SECRET}
      - IGDB_CLIENT_ID=${IGDB_ID}
      - IGDB_CLIENT_SECRET=${IGDB_SECRET}
      # Standard NAS Permissions (Crucial for accessing game files)
      - PUID=1000
      - PGID=10
    volumes:
      - /volume1/docker/romm/resources:/romm/resources:rw
      - /volume1/docker/romm/redis:/redis-data:rw
      - /volume1/docker/romm/games/library:/romm/library:rw
      - /volume1/docker/romm/games/assets:/romm/assets:rw
      - /volume1/docker/romm/games/config:/romm/config:rw
    ports:
      - 7676:8080
    depends_on:
      db:
        condition: service_healthy
    restart: on-failure:10
