services:
  libreoffice:
    container_name: LibreOffice
    image:  ghcr.io/linuxserver/libreoffice:latest@sha256:37ce5d3791bd2938ba56c425331b5b364f49cd02579d5b4b0402e32ae758f1e7
    env_file:
      - /volume2/FastSSD/docker/libreoffice/.env
    mem_limit: 8g
    cpu_shares: 2048
    security_opt:
      - no-new-privileges:true
    ports:
      - 3445:3000 # Map your host port to the HTTP container port
      - 3446:3001
    volumes:
      - /volume2/FastSSD/docker/libreoffice:/config:rw
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
      - CUSTOM_PORT=3000 # Forces the web UI to stay on HTTP
      # ADD THESE TWO LINES:
      - KASMVNC_AUTH=none # Cloudflare Access handles your auth; this stops a double-login loop
      # Note the lack of trailing slash and exact protocol
      - ORIGIN_ALLOW_LIST=https://office.mcsorley.org.uk # Explicitly allows the socket to open for this domain
      - SUBFOLDER=/ # Explicitly defines the root path for the WebSocket
    restart: on-failure:5
    networks:
      - web_proxy

    networks:
      web_proxy:
        external: true
