services:
  libreoffice:
    container_name: LibreOffice
    image:  ghcr.io/linuxserver/libreoffice:latest@sha256:0bb0a9b3cc6add79b976d6ea0c4d7f2e4f6bc245bb09a75c63e8c827b0d592e4
    env_file:
      - /volume2/FastSSD/docker/libreoffice/.env
    mem_limit: 8g
    cpu_shares: 2048
    security_opt:
      - no-new-privileges:true
    ports:
      - 3445:3000
      - 3446:3001
    volumes:
      - /volume2/FastSSD/docker/libreoffice:/config:rw
    environment:
     TZ: Europe/Dublin
     PUID: 1000
     PGID: 10
    restart: on-failure:5
