services:
  libreoffice:
    container_name: LibreOffice
    image:  ghcr.io/linuxserver/libreoffice:latest@sha256:2e3b29ab6dfbeec15e78e4d099e22ad96b01ba2ca42d2d329d19378b74eee332
    env_file:
      - /volume2/FastSSD/docker/libreoffice/.env
    mem_limit: 8g
    cpu_shares: 2048
    security_opt:
      - no-new-privileges:true
    ports:
      - 3445:3000
      - 3446:3001
    volumes:
      - /volume2/FastSSD/docker/libreoffice:/config:rw
    environment:
     TZ: Europe/Dublin
     PUID: 1000
     PGID: 10
    restart: on-failure:5
