services:
  nginx-proxy-manager:
    image: jc21/nginx-proxy-manager:2.13.6@sha256:669be1a294d4491b842f542d238ea1d4bca8f76fbedd7d99b45b24cd5a8cff99
    
    # 1. Loads all variables (TZ, Email, Password) from the file
    env_file:
      - /volume2/FastSSD/docker/npm/.env
      
    container_name: Nginx-Proxy-Manager
    healthcheck:
      test: timeout 10s bash -c ':> /dev/tcp/127.0.0.1/81' || exit 1
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 90s
    volumes:
      - /volume2/FastSSD/docker/npm/letsencrypt:/etc/letsencrypt:rw
      - /volume2/FastSSD/docker/npm/data:/data:rw
      - /volume2/FastSSD/docker/npm/config.json:/app/config/production.json
    ports:
      - 443:443
      - 81:81
      - 80:80
      
    # DELETED: environment section
    # (Everything is now safe in the env_file)
      
    restart: on-failure:5
