services:
  calibre-web-automated:
    image: crocodilestick/calibre-web-automated:latest
    container_name: Calibre-WEB-AUTOMATED
    healthcheck:
      test: ["CMD-SHELL", "nc -z 127.0.0.1 8083 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 90s
    environment:
       PUID: 1000
       PGID: 10
       TZ: Europe/Dublin
       #HARDCOVER_TOKEN: API_KEY  #https://docs.hardcover.app/api/getting-started/
    volumes:
      - /volume2/FastSSD/docker/autocalibreweb/config:/config:rw
      - /volume2/FastSSD/docker/cwabookdownloader/ingest:/cwa-book-ingest:rw
      - /volume1/SlowHDD/books/calibreweblib:/calibre-library:rw
      - /volume2/FastSSD/docker/autocalibreweb/plugins:/config/.config/calibre/plugins:rw
    ports:
      - 8213:8083 
    restart: on-failure:5
