services:
  calibre-web-automated:
    image: crocodilestick/calibre-web-automated:latest
    container_name: Calibre-Web-Automated
    env_file:
      - /volume2/FastSSD/docker/calibrewebautomated/.env
    environment:
      PUID: 0
      PGID: 0
      TZ: Europe/Dublin
      # We combine universal-calibre with universal-package-install using a pipe |
      DOCKER_MODS: linuxserver/mods:universal-calibre|linuxserver/mods:universal-package-install
      # This tells the mod which system packages to install on boot
      INSTALL_PACKAGES: libasound2|libxkbcommon-x11-0|libegl1|libopengl0|libglx0|libnss3|libxcomposite1|libxdamage1|libxrandr2|libxtst6|libxcursor1|libxi6
      HARDCOVER_TOKEN: ${HARDCOVER_TOKEN}
      # Force Calibre 7 to avoid the V8 instability completely (Optional but recommended)
      CALIBRE_INSTALLER_SOURCE_CODE_URL: https://github.com/kovidgoyal/calibre/releases/download/v7.26.0/calibre-7.26.0-x86_64.txz
    volumes:
      - /volume2/FastSSD/docker/calibrewebautomated/config:/config:rw
      - /volume2/FastSSD/docker/cwabookdownloader/ingest:/cwa-book-ingest:rw
      - /volume1/SlowHDD/books/calibreweblib:/calibre-library:rw
      - /volume2/FastSSD/docker/calibrewebautomated/plugins:/config/.config/calibre/plugins:rw
    ports:
      - 8213:8083
    restart: on-failure:5
    healthcheck:
      test: ["CMD-SHELL", "nc -z 127.0.0.1 8083 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 90s
