services:
  calibre-web-automated:
    image: crocodilestick/calibre-web-automated:latest
    container_name: Calibre-Web-Automated
    env_file:
      - /volume2/FastSSD/docker/calibrewebautomated/.env
    # FORCE-INSTALL DEPENDENCIES ON BOOT
    # This runs apt-get install before starting the app to fix the Calibre 8 crash
    command: /bin/sh -c "apt-get update && apt-get install -y libasound2 libxkbcommon-x11-0 libegl1 libopengl0 libglx0 libnss3 libxcomposite1 libxdamage1 libxrandr2 libxtst6 libxcursor1 libxi6 && /init"
    environment:
      PUID: 0
      PGID: 0
      TZ: Europe/Dublin
      DOCKER_MODS: linuxserver/mods:universal-calibre
      HARDCOVER_TOKEN: ${HARDCOVER_TOKEN}
    volumes:
      - /volume2/FastSSD/docker/calibrewebautomated/config:/config:rw
      - /volume2/FastSSD/docker/cwabookdownloader/ingest:/cwa-book-ingest:rw
      - /volume1/SlowHDD/books/calibreweblib:/calibre-library:rw
      - /volume2/FastSSD/docker/calibrewebautomated/plugins:/config/.config/calibre/plugins:rw
    ports:
      - 8213:8083
    restart: on-failure:5
    healthcheck:
      test: ["CMD-SHELL", "nc -z 127.0.0.1 8083 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 90s
