services:
  calibre-web-automated:
    image: crocodilestick/calibre-web-automated:latest@sha256:577e846f104fd21453ef306eefb4a95dd95b3b9ddd2463a150944494284da0fd
    container_name: Calibre-Web-Automated
    env_file:
      - /volume2/FastSSD/docker/calibrewebautomated/.env
    environment:
      PUID: 1000
      PGID: 100
      TZ: Europe/Dublin
      # ADD THIS LINE to pin the version to a stable release
      CALIBRE_INSTALLER_SOURCE_CODE_URL: https://github.com/kovidgoyal/calibre/releases/download/v7.26.0/calibre-7.26.0-x86_64.txz
      DOCKER_MODS: linuxserver/mods:universal-calibre
      HARDCOVER_TOKEN: ${HARDCOVER_TOKEN}
      # FIXED: Removed the '-' and '=', changed to key: value format
      TP_ADDON: libasound2 libxkbcommon-x11-0
    volumes:
      - /volume2/FastSSD/docker/calibrewebautomated/config:/config:rw
      - /volume2/FastSSD/docker/cwabookdownloader/ingest:/cwa-book-ingest:rw
      - /volume1/SlowHDD/books/calibreweblib:/calibre-library:rw
      - /volume2/FastSSD/docker/calibrewebautomated/plugins:/config/.config/calibre/plugins:rw
    ports:
      - 8213:8083
    restart: on-failure:5
    healthcheck:
      test: ["CMD-SHELL", "nc -z 127.0.0.1 8083 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 90s
