services:
  calibre-web-automated:
    image: crocodilestick/calibre-web-automated:latest@sha256:577e846f104fd21453ef306eefb4a95dd95b3b9ddd2463a150944494284da0fd
    env_file:
      - /volume2/FastSSD/docker/calibrewebautomated/.env
    container_name: Calibre-Web-Automated
    healthcheck:
      test: ["CMD-SHELL", "nc -z 127.0.0.1 8083 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 90s
    environment:
      PUID: 1000
      PGID: 100 # Changed from 10. Usually 100 (users) or 1000 on UGreen.
      TZ: Europe/Dublin
      # Ensures correct dependencies for conversion
      DOCKER_MODS: linuxserver/mods:universal-calibre 
      # Paste ONLY the long token string here (no "Bearer" prefix unless docs specify)
      HARDCOVER_TOKEN=${HARDCOVER_TOKEN}
      # Ensure NETWORK_SHARE_MODE=true is set in Portainer!
    volumes:
      - /volume2/FastSSD/docker/calibrewebautomated/config:/config:rw
      - /volume2/FastSSD/docker/cwabookdownloader/ingest:/cwa-book-ingest:rw
      # This points to your clean library folder
      - /volume1/SlowHDD/books/calibreweblib:/calibre-library:rw
      - /volume2/FastSSD/docker/calibrewebautomated/plugins:/config/.config/calibre/plugins:rw
    ports:
      - 8213:8083
    restart: on-failure:5
