services:
  calibre:
    image: ghcr.io/linuxserver/calibre:latest@sha256:51e42276a0b0755e11fc9a4f6ea51c4179080e66f7befe41e2ac9b55d57b4c6e
    
    # 1. Loads PUID, PGID, CUSTOM_USER, PASSWORD from the file
    env_file:
      - /volume2/FastSSD/docker/calibre/.env
      
    container_name: Calibre
    mem_limit: 4g
    security_opt:
      - seccomp:unconfined
      
    environment:
      # Display Settings (Safe to keep in YAML)
      - TZ=Europe/Dublin
      - QT_SCALE_FACTOR=1.5
      - DRINODE_RESOLUTION=1280x720
      
      # DELETED: PUID, PGID, CUSTOM_USER, PASSWORD
      # (They are now securely loaded from the env_file)

    volumes:
      - /volume2/FastSSD/docker/calibre:/config:rw
      - /volume1/SlowHDD/books:/books:rw
    ports:
      - 7080:8080
      - 7081:8081
      - 8181:8181
    restart: on-failure:5
