services:
  calibre:
    container_name: Calibre
    image: ghcr.io/linuxserver/calibre
    mem_limit: 4g
    cpu_shares: 768
    security_opt:
      - no-new-privileges:true
      - seccomp:unconfined
    restart: on-failure:5
    ports:
      - 7080:8080
      - 7081:8081
      - 8181:8181
    volumes:
      - /volume2/FastSSD/docker/calibre:/config:rw
    environment:
     CUSTOM_USER: barry
     PASSWORD: barrytemp
     TZ: Europe/Dublin
     PUID: 1000
     PGID: 10
