version: "3"
services:
  doom-server:
    build: .
    container_name: chocolate_doom_server
    restart: unless-stopped
    ports:
      - "2342:2342/udp"
    volumes:
      - /volume1/docker/doom-assets:/data
    # NOTICE: 'entrypoint' is GONE. We only send the game arguments now.
    command: "-iwad /data/DOOM.WAD -privateserver -deathmatch -skill 4 -warp 1 1"
