version: "3"
services:
  doom-server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: chocolate_doom_server
    restart: unless-stopped
    ports:
      - "2342:2342/udp"
      # THE FIX: Tell Chocolate Doom explicitly where to look for WADs
    environment:
      - DOOMWADDIR=/data
    volumes:
      - /volume1/docker/doom-assets:/data
    # THE FIX: No -iwad, no -warp. Just a private server.
    command: "-privateserver"
