version: "3"
services:
  doom-server:
    build: .
    container_name: chocolate_doom_server
    restart: unless-stopped
    ports:
      - "2342:2342/udp"
    volumes:
      - /volume1/docker/doom-assets:/data
    # DOOM 1 CONFIGURATION
    # -warp 1 1 = Episode 1, Map 1 (Hangar)
    command: "-iwad /data/DOOM.WAD -privateserver -deathmatch -skill 4 -warp 1 1"
