services:
  ollama:
    image: ollama/ollama:latest@sha256:2c9595c555fd70a28363489ac03bd5bf9e7c5bdf2890373c3a830ffd7252ce6d
    container_name: ollama
    restart: unless-stopped
    volumes:
      - /volume2/FastSSD/docker/ollama/models:/root/.ollama
    networks:
      - deepseek-net

  open-webui:
    image: ghcr.io/open-webui/open-webui:main@sha256:18c1475e636245e2f439b59b4a2b38e1965c881856092d21e5efc38da7e1dac3
    container_name: open-webui
    restart: unless-stopped
    ports:
      - "3000:8080"  # This exposes the service to your NAS IP on port 3000
    environment:
      - OLLAMA_BASE_URL=http://ollama:11434
    volumes:
      - /volume2/FastSSD/docker/open-webui/data:/app/backend/data
    depends_on:
      - ollama
    networks:
      - deepseek-net

networks:
  deepseek-net:
    driver: bridge