services:
  your_spotify_server:
    image: lscr.io/linuxserver/your_spotify:1.17.0@sha256:40cccd55f7635d08b0f594a43ee432b51a84759623ea99bbec3fe9a524f4eb1b
    container_name: your_spotify
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
      # IMPORTANT: Changed port to 3040 below to avoid conflict
      - APP_URL=http://192.168.0.222:3040 
      # Note: We removed SPOTIFY_CLIENT_ID/SECRET here. 
      # The 'env_file' section below handles them automatically.
      - MONGO_ENDPOINT=mongodb://mongo:27017/your_spotify
    env_file:
      - .env
    depends_on:
      - mongo
    ports:
      - 3040:80 # <--- CHANGED from 3000:80 to 3040:80
    restart: unless-stopped
    volumes:
      - /volume2/FastSSD/docker/yourspotify/config:/config

  mongo:
    image: mongo:4.4
    container_name: your_spotify_db
    restart: unless-stopped
    volumes:
      - /volume2/FastSSD/docker/yourspotify/db:/data/db
