services:
  your_spotify_server:
    image: lscr.io/linuxserver/your_spotify:1.18.0@sha256:24e2e5f7054bf9cac8c1a134de099eeca35f3af1eace49e31209033965e22d89
    container_name: your_spotify
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
      # IMPORTANT: Changed port to 3040 below to avoid conflict
      - APP_URL=http://192.168.0.222:3040 
      # Note: We removed SPOTIFY_CLIENT_ID/SECRET here. 
      # The 'env_file' section below handles them automatically.
      - MONGO_ENDPOINT=mongodb://mongo:27017/your_spotify
    env_file:
      - .env
    depends_on:
      - mongo
    ports:
      - 3040:80 # <--- CHANGED from 3000:80 to 3040:80
    restart: unless-stopped
    volumes:
      - /volume2/FastSSD/docker/yourspotify/config:/config

  mongo:
    image: mongo:4.4@sha256:4be76f674fc4b27859816811b8baa3c51830eb1dbf4ca81a51e26b79edd662ef
    container_name: your_spotify_db
    restart: unless-stopped
    volumes:
      - /volume2/FastSSD/docker/yourspotify/db:/data/db
